
    
    
  
  <body >
    
    
    <table>
      <tbody>
        
        <nav class="navbar navbar-default">
          <div class="container-fluid">
           

        
            <ul class="nav navbar-nav">
              <li>
                <a class="navbar-brand" href="#"><h2 class = "text-Warning">InstantGram </h2></a>
              </li>
              <li class = "col-md-2"></li>
              <li class = "col-md-4"><a href="#"><div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for your friends">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
              </div></a></li>
              <li "col-md-2"><a href="#"></a></li>
              <li class = "col-md-1 pull-right"><a href="#">
                <a href="/pictures/new"><img class = "img-responsive" src="http://www.thegreatmedicines.com/wp-content/uploads/2014/12/110767-glowing-green-neon-icon-alphanumeric-plus-sign.png" width = 50 height = 50></a>
                </li>
            </ul>
          </div>
        </nav>
          
        <div class="container">
         
        </div>
      </tbody>  
    </table>
    <table>
      <tbody>
        <tr>
          
        </tr>
      </tbody>  
    </table>
<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <% fcount = 967 %>     
<table>
  <tbody>
    <tr>
      <td class = "col-md-2">
      </td>
      <td class = "col-md-2">
       <h4>GoldenKookieMakne</h4>
      </td>
      <td class = "col-md-3">
        <img  class = "img-responsive" class = "img-rounded" src="https://ygfamilyartists.files.wordpress.com/2011/06/i_love_kpop_by_xdajoker-d3fg3a0.jpg" width = 300 height = 350>

      </td >
      
      <td class = "col-md-3">
        <table>
          <tbody>
            <tr>
              <h5>Followers: 2.2k</h5>
            </tr>
            <tr>
              <h5>Following: 717</h5>
            </tr>

               <%= content_tag(:button, "Follow", :type=>:submit)%>
            <tr>
            </tr>
          </tbody>
        </table>
            
           
          
      </td>
      <td class = "col-md-1">

      </td>

    </tr>
  </tbody>
</table>



<style type="text/css">
    td:nth-child(1) {
      padding-right: 20px;
      padding-bottom: 50px;
      padding-top: 50px;
}​
</style>


<table>
 
<% count = 0 %>
  <tbody >
   
    <% @pictures.reverse.each do |picture| %>
      <% count = count + 1 %>
      
        <td class = "col-md-2" > <img class = "img-responsive" src="<%= picture.image_url %>" width 300 height = 250></td>
          <td><%= link_to 'Show', picture %></td>
 -        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
 -        <td class = "text-Danger"><%= link_to 'Remove', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if count ==3 %>
             <% count = 0 %>
             <tr class = "row"></tr>
          <% end %>
      
        
        
      
    <% end %>
    
  </tbody>
</table>

<br>


    
    
  

